<div class="jumbo-hero flex-container">
  <div class="jumbo-hero-item flex-item">
    <h1>Création d'identité visuelle pour les TPE</h1>
    <p>Stratégie Marketing <span class="font-green">•</span> Supports imprimés <span class="font-green">•</span> Site internet</p>
  </div>
</div>

<div class="jumbo-intro">
  <h2>Notre crédo : les Très Petites Entreprises</h2>
  <p>Notre objectif est d'acompagner les TPE dans l'élaboration de leur strategie marketing et la création de leur identité visuelle.</p>
</div>

<div class="jumbo-features">

  <div class="container">
    <div class="row">
      <h2 class="text-center">Des échanges facilités.</h2>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="jumbo-features-img" id="chat"></div>
        <div class="jumbo-features-title">
          Messagerie interne
        </div>
        <div class="jumbo-features-content">
          Nous avons développer une messagerie interne pour simplifier les échanges entre le chef de projet et vous.
          Fini les échanges de mails interminables, fini les questions sans réponses !
        </div>
      </div>
      <div class="col-md-4">
        <div class="jumbo-features-img" id="article"></div>
        <div class="jumbo-features-title">
         Fiches conseils
       </div>
       <div class="jumbo-features-content">
        Nous avons préparé des dixiènes de fiches conseils qui sont mis à votre disposition afin de vous facilitez la tâche.
        Vous allez devenir des vrais experts !
      </div>

    </div>
    <div class="col-md-4">
      <div class="jumbo-features-img" id="transfert">

      </div>
      <div class="jumbo-features-title">
        Transfert de fichiers

      </div>
      <div class="jumbo-features-content">
        Vous avez la possibilité de nous transmettre du texte, des images etc. Les informations transmises sont confidentielles, vous pouvez les modifiers ou les supprimers à tout moment !
      </div>
    </div>
  </div>
</div>
</div>

<div class="jumbo-citation flex-container">
  <div class="flex-item text-center">
    <h2>Parce que vous n'êtes pas des Pigeons <br> Vous serez nos poussins !</h2>
    <p>EN SAVOIR PLUS</p>
  </div>
</div>



<div class="jumbo-price">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="jumbo-price-intro">
          <h2>Une tarifications transparente. <br><span>Pas de frais cachés !</span></h2>

        </div>
      </div>
    </div>
    <div class="row row-eq-height">
      <div class="col-md-4 flex">
        <div class="jumbo-price-item">
          <div class="jumbo-price-item-title">
            Starter
          </div>
          <div class="jumbo-price-item-price">
            990 €
          </div>
          <div class="jumbo-price-item-content">
            <ul>
              <li>Marketing</li>
              Mais il faudra surement qu'il y ai plus de truc
            </ul>
          </div>

        </div>
      </div>
      <div class="col-md-4 flex">
        <div class="jumbo-price-item">
          <div class="jumbo-price-item-title">
            Power
          </div>
          <div class="jumbo-price-item-price">
            2450 €
          </div>
          <div class="jumbo-price-item-content">
            <ul>
              <li>Marketing</li>
              <li>Supports imprimés</li>
              du coup sur celui la aussi il faudra plus de truc
            </ul>
          </div>

        </div>
      </div>
      <div class="col-md-4 flex">
        <div class="jumbo-price-item">
          <div class="jumbo-price-item-title">
            Premium
          </div>
          <div class="jumbo-price-item-price">
            4950 €
          </div>
          <div class="jumbo-price-item-content">
            <ul>
              <li>Marketing</li>
              <li>Supports imprimés</li>
              <li>Site internet</li>
            </ul>

          </div>

        </div>
      </div>
    </div>
  </div>



</div>

<div class="jumbo-eddy flex-container">
  <div class="flex-item text-center">
    <h2>Vous hésitez à vous lancer ?<br>Rencontrons Nous !</h2>
    <i class="fa fa-angle-down pulse" aria-hidden="true"></i>
  </div>

</div>

<%= render 'shared/contact_form' %>


<div class="jumbo-contact">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <div class="contact-background">
          <div class="section-title text-center">

          </div>
          <form action="//formspree.io/florianmaneyrol@gmail.com"
          method="POST">
          <input type="text" name="_gotcha" style="display:none" />
          <div class="form-group">
            <label for="Nom">NOM</label>
            <input type="text" class="form-control" name="name" id="Nom">
          </div>
          <div class="form-group">
            <label for="Email">EMAIL</label>
            <input type="email" class="form-control" name="_replyto" type="email" id="Email">
          </div>
          <div class="form-group">
            <label for="Message">MESSAGE</label>
            <textarea name="message" class="form-control" id="Message" rows="8"></textarea>
          </div>
          <div class="form-group text-center">
            <input type="submit" class="btn btn-ct" value="Envoyer" >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

</div>





