/* Main class */
.navbar-identify {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: rgba(0,0,0,.6);
  transition: all 0.3s ease;
  height: 80px;
  position:absolute;
  width:100%;
}

/* Optional class to fix the navbar on top */
.navbar-identify-fixed {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
}

/* Navbar logo */
.navbar-identify-brand img {
  width: 145px;
  float: left;
  height: 80px;
}

/* Navbar right section (with form, links, button) */
.navbar-identify-right {
  display: flex;
  align-items: center;
  float: right;
}

/* Navbar item */
.navbar-identify-item {
  float: right;
  line-height: 80px;
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar standard link */
.navbar-identify-link {
  color: white;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
}

.navbar-identify-link-cta {
  color: #c1c3c6;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
}

.navbar-identify-link-cta:hover, .navbar-identify-link-cta:active, .navbar-identify-link-cta:focus {
  color: #1ed760;
  text-decoration: none;
}

.navbar-identify-link:hover, .navbar-identify-link:active, .navbar-identify-link:focus {
  color: #1ed760;
  text-decoration: none;
}

/* Navbar right button */
.navbar-identify-button {
  margin-left: 10px;
  padding: 0 20px;
  border-radius: 20em;
  line-height: 40px;
  background-color: #2ebd59;
  color: white;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  border: 2px solid #2ebd59;
}
.navbar-identify-button:hover {
  color: white;
  background: #1ed760;
  border: 2px solid #1ed760;
}

/* Navbar search form */
.navbar-identify-search {
  flex: 0 1 300px;
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
  position: relative;
}
.navbar-identify-search-btn {
  line-height: 40px;
  color: #E6E6E6;
  border: none;
  background: transparent;
  position: absolute;
  right: 14px;
  top: -2px;
  z-index: 1;
}
.navbar-identify-search-input {
  flex: 0 1 300px;
  transition: all 0.15s ease;
  line-height: 40px;
  font-weight: lighter;
  color: #666666;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 14px;
  outline: none;
}
.navbar-identify-search-input:focus  {
  border: 1px solid #CCCCCC;
}

/* Navbar dropdown menu */
.navbar-identify-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-identify-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-identify-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-identify-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

/* Navbar divider */

.divider {
  margin-top: 32px;
  margin-bottom: 32px;
  height: 16px;
  width: 1px;
  margin-left: 17px;
  margin-right: 17px;
  background-color:#c1c3c6;
}

.fa-bars {
  color:white
}



