/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

// flex

.flex {
  display: flex;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-item {
  flex: 0 1 auto;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

//font color

.font-green {
  color:#1ed760;
}

// btn

.identify-button {
  margin-left: 10px;
  padding: 11px 47px 9px;
  border-radius: 20em;
  background-color: #2ebd59;
  color: white;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  border: 2px solid #2ebd59;
  text-transform: uppercase;
  letter-spacing:1.2px;
}

.identify-button:hover, .identify-button:active, .identify-button:focus {
  margin-left: 10px;
  padding: 11px 47px 9px;
  border-radius: 20em;
  background-color: #1ed760;
  color: white;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  border: 2px solid #1ed760;
  letter-spacing:1.2px;
}

.section-divider {
  border-bottom: solid 2px #e6e6e6;
  padding: 20px 0px;
}

// width

.width-75 {
  width:75%;
}

.width-50 {
  width:50%;
}

.width-25 {
  width:25%;
}

// height

.height-150 {
  height:150px;
}

.height-300 {
  height:300px;
}

.height-450 {
  height:450px;
}

// center

.margin-center {
  margin:0 auto;
}






